{% extends "base_generic.html" %}

{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'cleaning/css/servicepack_list.css' %}">
{% endblock %}

{% block content %}
    <h1>Service Pack List</h1>

    <div class="servicepack-grid">
        {% if servicepack_list %}
            {% for servicepack in servicepack_list %}
                <div class="servicepack-item">
                    <a href="{{ servicepack.get_absolute_url }}">{{ servicepack.naming }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no service packs.</p>
        {% endif %}
    </div>


{% endblock %}
