{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% endblock %}
{% block content %}
    <header>
        <h1>О компании</h1>
    </header>
    <section>
        <h2>Наш логотип</h2>
        <img src="https://t4.ftcdn.net/jpg/04/12/10/33/360_F_412103381_O6nWrELMkGIskDi8B3lCa8qrJWpUMWhb.jpg"
             alt="Логотип компании" width="200" height="200">
    </section>
    <section>
        <h2><em>Информация о компании</em></h2>
        <pre>

Компания заботится о вашем комфорте и чистоте вашего пространства.
Наш опыт и преданность работе гарантируют, что каждый клиент получит высочайшее качество услуг.
Мы специализируемся на создании сверкающей чистоты в каждом уголке вашего дома или офиса.
Наша команда профессионалов работает усердно, чтобы удовлетворить ваши потребности и оставить ваше пространство сияющим и безупречным.
Вместе мы создадим чистое и уютное место, в котором можно наслаждаться каждым моментом.

        </pre>
    </section>

    <section>
        <h2>Видео</h2>
        <iframe src="https://www.youtube.com/embed/DdRC6mbfYSw?autoplay=1" frameborder="0" allowfullscreen width="800"
                height="450"></iframe>
    </section>

    <section>
        <h2>История по годам</h2>
        <p><strong>Год основания:</strong> 1990</p>
        <p>
            Компания была основана в 1990 году с целью предоставления высококачественных услуг по уборке и поддержанию
            чистоты для наших клиентов.
        </p>
        <p><strong>Год начала успешной деятельности:</strong> 1992</p>
        <p>
            В 1992 году мы начали успешно выполнять наши первые проекты и завоевывать доверие наших клиентов благодаря
            нашей профессиональной команде и отличному качеству обслуживания.
        </p>
        <p><strong>Расширение географии:</strong> 1995</p>
        <p>
            В 1995 году мы успешно расширили географию наших услуг и начали обслуживать клиентов в других регионах.
        </p>
        <p><strong>Внедрение новых технологий:</strong> 2000</p>
        <p>
            В 2000 году компания активно внедряла современные технологии и средства уборки для улучшения эффективности и
            качества обслуживания.
        </p>
        <p><strong>Экологические инициативы:</strong> 2003</p>
        <p>
            В 2003 году мы начали активно внедрять экологические инициативы в наших работах и использовать экологически
            чистые средства для уборки.
        </p>
        <p><strong>Обновление оборудования:</strong> 2006</p>
        <p>
            В 2006 году компания провела крупное обновление оборудования и технической базы для обеспечения более
            высокой производительности.
        </p>
        <p><strong>Премия "Лучшая клининговая компания":</strong> 2011</p>
        <p>
            В 2011 году мы получили престижную награду "Лучшая клининговая компания" за выдающиеся достижения в отрасли.
        </p>
        <p><strong>25-летие компании:</strong> 2016</p>
        <p>
            В 2016 году мы отметили 25-летие нашей компании с гордостью и благодарностью к нашим клиентам и сотрудникам.
        </p>
        <p><strong>Ведущий в отрасли:</strong> 2023</p>
        <p>
            На данный момент мы продолжаем быть ведущей компанией в клининговой отрасли и стремимся к новым высотам в
            обслуживании клиентов.
        </p>
    </section>



    <section>
        <h2>Реквизиты</h2>
        <address>
            <p>Название компании: ООО "Клининговая компания"</p>
            <p>Адрес: д. 30, ул. Примерная 12, Москва</p>
            <p>Телефон: +7 (123) 456-7890</p>
            <p>Email: info@example.com</p>
        </address>
    </section>

    <header>
        <h1>Сертификат</h1>
    </header>

    <section>
        <h2>Cleaning company</h2>
        <p>Сертификат</p>
        <p>Награждается за выдающиеся достижения и высокое качество клининговых услуг.</p>
        <p>Дата выдачи: 1 января 2020 года</p>
    </section>



{% endblock %}
