{% extends "base_generic.html" %}
{% load static %}



{% block content %}
    <header>
        <h1>Контакты</h1>
        <p>Здесь представлены контакты наших сотрудников.</p>
    </header>

    <section>
        <h2>Наша команда</h2>
        <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Dwayne_Johnson_2014_%28cropped%29.jpg/220px-Dwayne_Johnson_2014_%28cropped%29.jpg" alt="Фото Сотрудника 1">
            <h3>Иван Иванов</h3>
            <p><strong>Должность:</strong> Уборщик</p>
            <p><strong>Телефон:</strong> +7 (123) 456-7890</p>
            <p><strong>Email:</strong> <a href="mailto:ivan@example.com">ivan@example.com</a></p>
        </article>
        <article>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/JenniferAnistonHWoFFeb2012.jpg/220px-JenniferAnistonHWoFFeb2012.jpg" alt="Фото Сотрудника 2">
            <h3>Ольга Петрова</h3>
            <p><strong>Должность:</strong> Менеджер по клиентам</p>
            <p><strong>Телефон:</strong> +7 (987) 654-3210</p>
            <p><strong>Email:</strong> <a href="mailto:olga@example.com">olga@example.com</a></p>
        </article>
        <article>
            <img src="https://i.redd.it/8zxsvr5vqmr01.jpg" alt="Фото Сотрудника 3" width="218">
            <h3>Марк Сидоров</h3>
            <p><strong>Должность:</strong> Супервайзер</p>
            <p><strong>Телефон:</strong> +7 (555) 123-4567</p>
            <p><strong>Email:</strong> <a href="mailto:mark@example.com">mark@example.com</a></p>
        </article>
    </section>

    <section>
        <h2>Наши офисы</h2>
        <article>
            <h3>Офис в Москве</h3>
            <p><strong>Адрес:</strong> Москва, ул. Пушкина, д. 13</p>
            <p><strong>Телефон:</strong> +7 (499) 987-6543</p>
        </article>
        <article>
            <h3>Офис в Санкт-Петербурге</h3>
            <p><strong>Адрес:</strong> Санкт-Петербург, наб. Водный, д. 4</p>
            <p><strong>Телефон:</strong> +7 (812) 555-7890</p>
        </article>
    </section>
{% endblock %}
