{% extends "base_generic.html" %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'newvision/css/contacts.css' %}"/>
{% endblock %}

{% block content %}
    <header>
        <h1>Contacts</h1>
        <p>Our employees info.</p>
    </header>

    <section>
        <a href="#team">Team</a>
        <a href="#offices">Offices</a>
    </section>

    <section id="team">
        <h2>Our team</h2>
        <div class="team-members">
            <div class="card-wrapper">
                <div class="card">
                    <img class="employee-img"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Dwayne_Johnson_2014_%28cropped%29.jpg/220px-Dwayne_Johnson_2014_%28cropped%29.jpg"
                         alt="photo1" height="250px">
                    <h3>Ivan Ivanov</h3>
                    <p><strong>Position:</strong> Cleaner</p>
                    <p><strong>Phone:</strong> +7 (123) 456-7890</p>
                    <p><strong>Email:</strong> <a href="mailto:ivan@example.com">ivan@example.com</a></p>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img class="employee-img"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/JenniferAnistonHWoFFeb2012.jpg/220px-JenniferAnistonHWoFFeb2012.jpg"
                         alt="photo2" height="250px">
                    <h3>Olga Petrova</h3>
                    <p><strong>Position:</strong> Client manager</p>
                    <p><strong>Phone:</strong> +7 (987) 654-3210</p>
                    <p><strong>Email:</strong> <a href="mailto:olga@example.com">olga@example.com</a></p>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img class="employee-img" src="https://i.redd.it/8zxsvr5vqmr01.jpg" alt="Фото Сотрудника 3"
                         height="250px">
                    <h3>Mark Sidorov</h3>
                    <p><strong>Position:</strong> Supervisor</p>
                    <p><strong>Phone:</strong> +7 (555) 123-4567</p>
                    <p><strong>Email:</strong> <a href="mailto:mark@example.com">mark@example.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="offices">
        <h2>Our offices</h2>
        <article>
            <h3>Office in Moscow</h3>
            <p><strong>Address:</strong> Москва, ул. Пушкина, д. 13</p>
            <p><strong>Phone:</strong> +7 (499) 987-6543</p>
        </article>
        <address>
            <h3>Office in St. Petersburg</h3>
            <p><strong>Address:</strong> Санкт-Петербург, наб. Водный, д. 4</p>
            <p><strong>Phone:</strong> +7 (812) 555-7890</p>
        </address>
    </section>
    <section>
        <table border="2">
            <caption>Time table of the call center</caption>

            <tr style="border: 1px solid black;">
                <th>Day</th>
                <th>Phone</th>
                <th>Office</th>
                <th colspan="2">Address</th>
                <th></th>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>+7 (499) 987-6543</td>
                <td>Offline</td>
                <td>ул. Пушкина, д. 13,</td>
                <td>Москва</td>
                <td></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>+7 (812) 555-7890</td>
                <td>Offline</td>
                <td>наб. Водный, д. 4,</td>
                <td>Санкт-Петербург</td>
                <td></td>
            </tr>

        </table>
    </section>
{% endblock %}

{% block scripts %}
     <script src="{% static 'newvision/js/cards.js' %}"></script>
{% endblock %}
