{% extends "base_generic.html" %}

{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'newvision/css/news_detail.css' %}"/>
{% endblock %}

{% block content %}
    <section>
        <article>
            <h1 class="uppercase-h1">{{ news.title }}</h1>
            <img src="{{ news.image_url }}" alt="{{ news.title }}">
            <p class="modified-fragment">{{ news.content }}</p>
            <br>
            <br>
            <p>Published at: {{ news.pub_date }}</p>
        </article>
    </section>
{% endblock %}
