{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <header>
        <h1>Политика конфиденциальности</h1>
        <p>Политика конфиденциальности вашей клининговой компании.</p>
    </header>

    <section>
        <h2>Введение</h2>
        <p>Добро пожаловать на страницу политики конфиденциальности [Название вашей компании].</p>
        <p>Наши клиенты - наша главная ценность, и мы стремимся обеспечить безопасность и конфиденциальность ваших данных.</p>
    </section>

    <section>
        <h2>Сбор информации</h2>
        <p>Мы собираем информацию о вас, когда вы связываетесь с нами через наш веб-сайт или другие средства связи. Эта информация включает в себя:</p>
        <ul>
            <li>Имя</li>
            <li>Адрес электронной почты</li>
            <li>Номер телефона</li>
            <li>Адрес</li>
        </ul>
        <p>Мы также можем собирать информацию о вашем устройстве, IP-адресе, браузере и операционной системе для улучшения нашего сайта и предоставления лучшего обслуживания.</p>
    </section>
    <section>
        <h2>Контакты</h2>
        <p>Если у вас есть вопросы или комментарии к нашей политике конфиденциальности, свяжитесь с нами по адресу [email protected].</p>
    </section>

    <footer>
        <p>&copy; 2023 Сleaning company</p>
    </footer>
{% endblock %}