{% extends "base_generic.html" %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'newvision/css/policy.css' %}"/>
{% endblock %}

{% block content %}
    <header>
        <h1 class="h1-star"> Privacy policy </h1>
        <p>Policy of our cleaning company.</p>
    </header>

    <section>
        <h2>Introduction</h2>
        <p>Welcome to privacy policy of our company.</p>
        <p>Our customers are our greatest asset, and we are committed to ensuring the security and confidentiality of your data.</p>
    </section>

    <section>
        <h2>Information collection</h2>
        <p>We collect information about you when you contact us through our website or other communications. This information includes:</p>
        <ul>
            <li>Name</li>
            <li>Email</li>
            <li>Phone number</li>
            <li>Address</li>
        </ul>
        <p>We may also collect information about your device, IP address, browser and operating system to improve our site and provide a better service.</p>
    </section>
    <section>
        <h2>Contacts</h2>
        <p>If you have questions or comments about our privacy policy, please contact us at contact@bestcleaners.com.</p>
    </section>

    <section>
        <h2>Additional info</h2>
        <aside>
            <h3>Download privacy policy in PDF format</h3>
            <p>PDF version:</p>
            <p><a href="https://www.termsfeed.com/public/uploads/2021/12/sample-privacy-policy-template.pdf" download target="_blank">Click here</a></p>
        </aside>
    </section>


{% endblock %}