`{% extends "base_generic.html" %}
{% load static %}

{% block styling %}
    <link rel="stylesheet" href="{% static 'newvision/css/promos.css' %}">
{% endblock %}

{% block content %}
    <header>
        <h1>Promos</h1>
        <p>Explore our current and archived promos.</p>
    </header>

    <section>
        <ul class="ul-promos">
            <h2>Active Promos</h2>
            {% for promo in active_promos %}
                <li class="li-promos">
                <article>
                    <mark>{{ promo.code }}</mark>
                    <p>{{ promo.description }}</p>
                </article>
            {% empty %}
                <p>No active promos available.</p>
            {% endfor %}
            </li>
        </ul>
    </section>

    <section>
        <ul class="ul-promos">
            <h2>Archived Promos</h2>
            {% for promo in archived_promos %}
                <li class="li-promos">
                <article>
                    <mark>{{ promo.code }}</mark>
                    <p>{{ promo.description }}</p>
                </article>
            {% empty %}
                <p>No archived promos available.</p>
            {% endfor %}
            </li>
        </ul>
    </section>

    <figure>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/TST_East_Waterfront_Podium_Garden_trash_bin.JPG/220px-TST_East_Waterfront_Podium_Garden_trash_bin.JPG"
             alt="amogus">
        <figcaption>Fire hydrant</figcaption>
    </figure>

{% endblock %}
`