{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <header>
        <h1>Словарь терминов и понятий</h1>
        <p>Здесь вы найдете список часто-задаваемых вопросов и ответов по нашей деятельности.</p>
    </header>

    <section>
        <h2>Часто-задаваемые вопросы</h2>
        <ul>
            <li>
                <details>
                    <summary>Что такое клининг?</summary>
                    <p>Клининг — это профессиональная уборка и обслуживание помещений и объектов с использованием специализированных средств и технологий.</p>
                    <p><em>Добавлен: 10 сентября 2023</em></p>
                </details>
            </li>
            <li>
                <details>
                    <summary>Какие услуги предоставляет ваша компания?</summary>
                    <p>Мы предоставляем широкий спектр услуг, включая уборку помещений, обслуживание зданий, чистку ковров, и многое другое. Для подробной информации, посетите нашу страницу "Услуги".</p>
                    <p><em>Добавлен: 15 сентября 2023</em></p>
                </details>
            </li>
        </ul>
    </section>


{% endblock %}
