`{% extends "base_generic.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <header>
        <h1>Словарь терминов и понятий</h1>
        <p>Здесь вы найдете список часто-задаваемых вопросов и ответов по нашей деятельности.</p>
    </header>

    <section>
        <article>
            <details>
                <summary>Что такое клининг?</summary>
                <h3>Что такое клининг?</h3>
                <p>Клининг — это профессиональная уборка и обслуживание помещений и объектов с использованием
                    специализированных средств и технологий.</p>
            </details>
        </article>

        <article>
            <details>
                <summary>Какие услуги предоставляет ваша компания?</summary>
                <h3>Какие услуги предоставляет ваша компания?</h3>
                <p>Мы предоставляем широкий спектр услуг, включая уборку помещений, обслуживание зданий, чистку ковров,
                    и многое другое. Для подробной информации, посетите нашу страницу "Услуги".</p>
            </details>
        </article>
    </section>
{% endblock %}
`