table tr:first-child {
    background-color: greenyellow;
}

table tr:last-child {
    background-color: yellow;
}

table tr:nth-child(even) {
    background-color: slategray;
}

table th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table th:empty, td:empty {
    background-color: white;
    width: 30px;
}

table {
    border-collapse: collapse;
    margin-left: 40px;
    margin-bottom: 10px;
}

caption {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

/* 3d cards*/

.team-members {
    min-height: 100vh;
    margin: -300px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    place-content: center;
}

.card-wrapper {
    min-height: 45ch;
    position: relative;
    perspective: 500em;
}

.card {
    --posx: 50%;
    --posy: 50%;
    --rotateX: 0;
    --rotateY: 0;
    position: absolute;
    inset: 1rem;
    border: 2px solid #fff2;
    border-radius: 1em;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: perspective(100em) translatez(0em) rotateY(var(--rotateX)) rotateX(var(--rotateY));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: var(--posx) var(--posy);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card h3,
.card p {
    margin: 0;
    color: white;
}

@keyframes reset-card {
    to {
        background-position: 50% 50%;
        transform: rotateY(0) rotateX(0);
    }
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
}