{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static 'cleaning/css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'cleaning/css/age.css' %}"/>
    <link rel="icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">

    {% block styling %}{% endblock %}

    {% block title %}
        <title>Cleaning company</title>
    {% endblock %}


</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {% block sidebar %}
                <ul class="sidebar-nav">
                    <li><a href="{% url 'newvision:home' %}">
                        <img src="{% static 'images/logo.ico' %}" alt="logo" width="50" height="30">
                    </a></li>
                    <li><a class="login-button" href="{% url 'newvision:about' %}">About</a></li>
                    <li><a class="login-button" href="{% url 'newvision:news' %}">News</a></li>
                    <li><a class="login-button" href="{% url 'newvision:questions' %}">Q&A</a></li>
                    <li><a class="login-button" href="{% url 'newvision:contacts' %}">Contact us</a></li>
                    <li><a class="login-button" href="{% url 'newvision:policy' %}">Privacy policy</a></li>
                    <li><a class="login-button" href="{% url 'newvision:reviews' %}">Reviews</a></li>
                    <li><a class="login-button" href="{% url 'newvision:promos' %}">Promocodes</a></li>
                    <li><a class="login-button" href="{% url 'newvision:vacancies' %}">Vacancies</a></li>
                    <li><a class="login-button" href="{% url 'index' %}">Info</a></li>

                    {% for group in user.groups.all %}
                        {% if group.name == 'Customer' %}
                            <li><a class="login-button" href="{% url 'servicepacks' %}">All service packs</a></li>
                            <li><a class="login-button" href="{% url 'cart:cart_detail' %}">Cart</a></li>
                        {% endif %}
                    {% endfor %}

                    {% for group in user.groups.all %}
                        {% if group.name == 'Staff' %}
                            <li><a class="login-button" href="{% url 'order:orders' %}">All orders</a></li>
                        {% endif %}
                    {% endfor %}

                    {% for group in user.groups.all %}
                        {% if group.name == 'Admin' %}
                            <li><a class="login-button" href="{% url 'servicepacks' %}">All service packs</a></li>
                            <li><a class="login-button" href="{% url 'order:orders' %}">All orders</a></li>
                            <li><a class="login-button" href="{% url 'administration:list_servicepack' %}">Edit
                                stuff</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if user.is_authenticated %}
                        <li>User: <strong style="font-weight: bold">{{ user.get_username }}</strong></li>
                        <li><a class="login-button" style="background-color:orangered"
                               href="{% url 'logout' %}?next={{ '' }}">Logout</a></li>
                    {% else %}
                        <li><a class="login-button" href="{% url 'servicepacks' %}">All service packs</a></li>
                        <li><a class="login-button register" href="{% url 'register' %}?next={{ '' }}">Register</a></li>
                        <li><a class="login-button register" href="{% url 'login' %}?next={{ '/cleaning' }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>

        <div class="col-sm-10 ">{% block content %}{% endblock %}</div>

        <div id="ageModal">
            <div id="modalContent">
                <h2>Confirm your age</h2>
                <label for="birthdate">Date of birth:</label>
                <input type="date" id="birthdate">
                <button onclick="checkAge()">Confirm</button>
            </div>
        </div>

    </div>

</div>
<div style="flex-grow: 1;"></div>
<footer style="background-color: #333; color: white; text-align: center; padding: 10px 0;">
    <p>&copy; 2023 Cleaning Company</p>
</footer>

{% block scripts %}
{% endblock %}

<script src="{% static 'cleaning/js/age.js' %}"></script>

</body>

</html>


